/* 
###########
###Main### 
##########
*/
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}
/* 
###########
###Header### 
##########
*/
header {
    position: relative;
}

header img {
    width: 100vw;
}

header .navbar img {
    width: 10vw;
}

header .navbar {
    display: flex;
    position: absolute;
    top: 0vw;
    align-items: center;
}

header .navbar .menu {
    margin-left: 70vw;
}

header .navbar .menu img {
    width: 1.6vw;
    padding: 0vw 1vw;
}

header h1 {
    position: absolute;
    top: 20vw;
    left: 8vw;
    color: white;
    font-size: 5vw;
    font-weight: lighter;
}

header h1 .heading {
    text-decoration: underline black;
    font-weight: bold;
}
/* 
###########
###Items### 
##########
*/
section h5 {
    padding: 5vw 6.5vw 2vw;
    font-size: 2vw;
    font-weight: normal;
}

section h4 {
    font-size: 2vw;
    text-align: center;
    padding: 2vw 0vw;
    font-weight: normal;
}

section .items-grid {
    display: flex;
    justify-content: space-evenly;
    padding: 2vw 0vw;
    align-items: center;
}

section .items-grid .item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2vw;
}

section .items-grid .item-details button {
    width: 7vw;
    height: 2vw;
    border: none;
    background-color: #59AF0F;
    color: white;
    border-radius: 0.3vw;
    font-size: 1vw;
}

section .items-grid .items {
    overflow: hidden;
}

section .items-grid .items img {
    width: 20vw;
}

section .items-grid .items .heart img {
    width: 2vw;
    position: absolute;
    top: 1vw;
    left: 17vw;
}

section .items-grid .items {
    position: relative;
}
/* 
###########
###Footer### 
##########
*/
footer {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
}

footer img {
    width: 15vw;
    margin-left: 42.5vw;
}

footer p {
    text-align: center;
    color: #808080;
}

footer .contact{
    color: black;
    font-weight: bold;
}

footer .number {
    color: black;
}

footer p.cred {
    color: #AEAEAE;
    padding: 3vw 0vw;
}

footer hr {
    width: 100vw;
    color: #AEAEAE;
    opacity: 0.2;
}

/* 
###########
###Signin### 
##########
*/

section .sign {
    position: absolute;
    z-index: 1;
    background-color: white;
    text-align: center;
    margin-left: 15vw;
    margin-top: 18vw;
    position: fixed;
    border-radius: 1vw;
    box-shadow: 0vw 0vw 25vw;
    padding: 3vw;
}

section .login {
    padding: 2vw 0vw;
    font-weight: bold;
}

section input {
    padding: 0.7vw 2vw;
    margin-top: 1.5vw;
    border-radius: 2vw;
    width: 25vw;
    margin-left: 1vw;
    border: 1px solid #D8D8D8;
}

section button {
    background-color: #461DE6;
    color: white;
    border: none;
    width: 15vw;
    height: 4vw;
    font-size: 2.2vw;
    border-radius: 1vw;
    margin-top: 1.4vw;
}

section p.notamem {
    padding-top: 1vw;
}

section .sign img {
    margin-left: 56vw;
    margin-top: 1.5vw;
}
/* 
###########
###Thank you### 
##########
*/

header .navbar-ty {
    display: flex;
    top: 0vw;
    align-items: center;
    justify-content: space-between;
}

header .navbar-ty img {
    width: 5vw;
}

header .navbar-ty .menu {
    margin-left: 70vw;
}

header .navbar-ty .menu img {
    width: 1.6vw;
    padding: 0vw 1vw;
}

.thankyou {
    background-color: blue;
    padding: 5vw;
    text-align: center;
    color: white;
    font-size: 2vw;
}

.thankyou-text {
    text-align: center;
    padding: 2vw;
}

.thankyou-text button {
    margin-top: 1vw;
    border-radius: 2vw;
    border: none;
    background-color: blue;
    color: white;
    width: 15vw;
    height: 4vw;
    font-size: 2vw;
}

.thankyou-text p {
    padding: 3vw;
    font-size: 3vw;
}
/* 
###########
###Cart### 
##########
*/

.cart {
    padding: 2vw;
}

.product .list {
    display: flex;
    justify-content: space-evenly;
    color: grey;
    font-size: 1.3vw;
    align-items: center;
    margin-top: 1vw;
    margin-bottom: 3vw;
}

.product hr {
    opacity: 0.2;
    color: grey;
}

.product .list img {
    border-radius: 50vw;
    width: 6vw;
    height: 6vw;
}

.product .list button {
    border-radius: 2vw;
    width: 8vw;
    border: #2c2c2c;
    font-size: 1.5vw;
    height: 3vw;
}

.product .list h5 {
    font-size: 1.5vw;
}

.total {
    float: right;
    display: flex;
}

.total .total-price {
    font-weight: bold;
}

.total button#continue {
    border-radius: 2vw;
    width: 20vw;
    margin-left: 6vw;
    margin-right: 2vw;
    font-size: 1.4vw;

}

.total button#next {
    border-radius: 2vw;
    background-color: #461DE6;
    color: white;
    border: none;
    width: 10vw;
    margin-right: 1vw;
    font-size: 1.3vw;
}